<%= link_to "検索", "/searches/new" %>
<%= link_to "logout", logout_path, method: :delete %>

<!--
<ul>
<%= image_tag "susi.jpg", size: '270x195' %>
<%= image_tag "piza.jpg", size: '270x195' %>
<%= image_tag "good.jpg", size: '270x195' %>
</ul>
-->

<table>
    <tr>
        <th>
            <li><%=  "ランキング" %></li>
        </th>
    </tr>
    <tr>
        <td><%= image_tag "susi.jpg", size: '270x195' %></td>
        <td><%= image_tag "piza.jpg", size: '270x195' %></td>
        <td><%= image_tag "good.jpg", size: '270x195' %></td>
    </tr>
    <tr>
        <th>1位○○店寿司セット２００円引き</th>
        <th>2位××店ピザ1枚１０００円</th>
        <th>3位△遊園地入場料無料</th>
    </tr>
</table>
    
