<%= link_to "検索", "/searches/new" %>
<%= link_to "logout", logout_path, method: :delete %>

<!--
<ul>
<%= image_tag "susi.jpg", size: '270x195' %>
<%= image_tag "piza.jpg", size: '270x195' %>
<%= image_tag "good.jpg", size: '270x195' %>
</ul>
-->

<table>
    <tr>
        <th>
            <li><%=  "今月のランキング" %></li>
        </th>
    </tr>
    <tr>
        <td><%= image_tag "susi.jpg", size: '270x195' %></td>
        <td><%= image_tag "piza.jpg", size: '270x195' %></td>
        <td><%= image_tag "good.jpg", size: '270x195' %></td>
    </tr>
    <tr>
        <th>1位Nintendo Switch ３０００円引き</th>
        <th>1位Nintendo Switch １５００円引き</th>
        <th>2位○○図書館2冊セットで５００円引き</th>
        <th>3位△△メーカーのパソコン　最大５０００円引き</th>
    </tr>
</table>
    
