<h1>ユーザー登録</h1>
<%= form_for(@corporate, url: corporate_signup_path) do |f| %>
  <%= f.label :name, 'name' %>
  <%= f.text_field :name %><br>
  <%= f.label :password, 'パスワード' %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation, 'パスワード（確認）' %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit '作成' %>
<% end %>
<%= link_to "back", "corporate_login" %>