<div class="contents row">
<% @searches.each do |search| %>
<div class="content_post" style="background-image: url(<%= search.image %>);">
<div class="more">
<span><%= image_tag 'arrow_top.png' %></span>
<ul class="more_list">
<li>
<%= link_to '詳細', "/searches/#{search.id}", method: :get %>
</li>
<% if user_signed_in? && current_user.id == search.user_id %>
<li>
<%= link_to '編集', "/searches/#{search.id}/edit", method: :get %>
</li>
<li>
<%= link_to '削除', "/searches/#{search.id}", method: :delete %>
</li>
<% end %>
</ul>
</div>
<%= simple_format(search.text) %>
<span class="name">
<a href="/users/<%= tweet.user.id %>">
<span>投稿者</span><%= search.user.nickname %>
</a>
</span>
</div>
<% end %>
</div>